
body {
  background-color: #efefef;
}

.App {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 680px;
  background-color: #fff;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  padding: 0 1rem;
}

@media all and (min-width: 768px) {
  .container {
    padding: 0 2.5vw;
  }
}